<div class="container all">
  <div class="col-md-8">
    <div class="row">
      <h3>Autobuses</h3>
    </div>    
    <div class="row">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Placa</th>
              <th>Marca</th>
              <th>Color</th>
              <th>Capacidad Carga</th>
              <th>Capacidad Pasajeros</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @autobuses.each do |autobus| %>
              <tr>
                <td><%= autobus.license_plate %></td>
                <td><%= autobus.brand %></td>
                <td><%= autobus.color %></td>
                <td><%= autobus.capacity %></td>
                <td><%= autobus.passenger_capacity %></td>
                <td><%= link_to 'Show', autobus %></td>
                <td><%= link_to 'Edit', edit_autobus_path(autobus) %></td>
                <td><%= link_to 'Destroy', autobus, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>    
    </div>   
  </div>    
</div>
<br>

<%= link_to 'New Autobus', new_autobus_path %>
