<p id="notice"><%= notice %></p>

<p>
  <strong>License plate:</strong>
  <%= @autobus.license_plate %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @autobus.brand %>
</p>

<p>
  <strong>Color:</strong>
  <%= @autobus.color %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @autobus.capacity %>
</p>

<p>
  <strong>Passenger capacity:</strong>
  <%= @autobus.passenger_capacity %>
</p>

<%= link_to 'Edit', edit_autobus_path(@autobus) %> |
<%= link_to 'Back', autobuses_path %>
