<div class="container all">
  <div class="col-md-8">
    <div class="row">
      <h3>Autobus</h3>
    </div>    
    <div class="row">
      <p id="notice"><%= notice %></p>

      <p>
        <strong>Placa:</strong>
        <%= @autobus.license_plate %>
      </p>
      
      <p>
        <strong>Marca:</strong>
        <%= @autobus.brand %>
      </p>
      
      <p>
        <strong>Color:</strong>
        <%= @autobus.color %>
      </p>
      
      <p>
        <strong>Capacidad Carga:</strong>
        <%= @autobus.capacity %>
      </p>
      
      <p>
        <strong>Capacidad Pasajeros:</strong>
        <%= @autobus.passenger_capacity %>
      </p>
      
      <%= link_to 'Edit', edit_autobus_path(@autobus) %> |
      <%= link_to 'Back', autobuses_path %>
    </div>   
  </div>    
</div>