<%= form_for(@trip) do |f| %>
  <% if @trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
      <% @trip.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :driver_id %><br>
    <%= f.number_field :driver_id %>
  </div>
  <div class="field">
    <%= f.label :assistent_id %><br>
    <%= f.number_field :assistent_id %>
  </div>
  <div class="field">
    <%= f.label :autobus_id %><br>
    <%= f.number_field :autobus_id %>
  </div>
  <div class="field">
    <%= f.label :schedule_id %><br>
    <%= f.number_field :schedule_id %>
  </div>
  <div class="field">
    <%= f.label :available_seats %><br>
    <%= f.number_field :available_seats %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
