<%= form_for(@trip) do |f| %>
  <% if @trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
      <% @trip.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :driver_id %><br>
    <%= f.select :driver_id, options_from_collection_for_select(Driver.all, :id, :first_names) %>
  </div>
  <div class="field">
    <%= f.label :assistent_id %><br>
    <%= f.select :assistent_id, options_from_collection_for_select(Assistent.all, :id, :first_names) %>
  </div>
  <div class="field">
    <%= f.label :autobus_id %><br>
    <%= f.select :autobus_id, options_from_collection_for_select(Autobus.all, :id, :brand) %>
  </div>
  <div class="field">
    <%= f.label :schedule_id %><br>
    <%= f.select :schedule_id, options_from_collection_for_select(Schedule.all, :id, :departure_time, :from_station_id) %>
  </div>    
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
