<h1>Listing trips</h1>

<table>
  <thead>
    <tr>
      <th>Employee</th>
      <th>Autobus</th>
      <th>Schedule</th>
      <th>Available seats</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @trips.each do |trip| %>
      <tr>
        <td><%= trip.employee_id %></td>
        <td><%= trip.autobus_id %></td>
        <td><%= trip.schedule_id %></td>
        <td><%= trip.available_seats %></td>
        <td><%= link_to 'Show', trip %></td>
        <td><%= link_to 'Edit', edit_trip_path(trip) %></td>
        <td><%= link_to 'Destroy', trip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trip', new_trip_path %>
