<div class="container all">
  <div class="col-md-8">
    <div class="row">
      <h3>Ayudantes</h3>
    </div>    
    <div class="row">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Precio</th>
              <th>De</th>
              <th>A</th>
              <th>Escala</th>
              <th>Categoria</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>

          
          <tbody>
            <% @fares.each do |fare| %>
              <tr>
                <td><%= fare.name %></td>
                <td><%= fare.price %></td>
                <td><%= fare.from %></td>
                <td><%= fare.to %></td>
                <td><%= fare.stopover %></td>
                <td><%= fare.category_id %></td>
                <td><%= link_to 'Show', fare %></td>
                <td><%= link_to 'Edit', edit_fare_path(fare) %></td>
                <td><%= link_to 'Destroy', fare, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>    
    </div>   
  </div>    
</div>
<br>

<%= link_to 'New Fare', new_fare_path %>
