<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @fare.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @fare.price %>
</p>

<p>
  <strong>From:</strong>
  <%= @fare.from %>
</p>

<p>
  <strong>To:</strong>
  <%= @fare.to %>
</p>

<p>
  <strong>Stopover:</strong>
  <%= @fare.stopover %>
</p>

<p>
  <strong>Category:</strong>
  <%= @fare.category_id %>
</p>

<%= link_to 'Edit', edit_fare_path(@fare) %> |
<%= link_to 'Back', fares_path %>
