<div class="container all">
  <div class="col-md-8">
    <div class="row">
      <h3>Tarifa de Boleto</h3>
    </div>    
    <div class="row">
      <p id="notice"><%= notice %></p>
      
      <p>
        <strong>Nombre:</strong>
        <%= @fare.name %>
      </p>
      
      <p>
        <strong>Precio:</strong>
        <%= @fare.price %>
      </p>
      
      <p>
        <strong>De:</strong>
        <%= @fare.from %>
      </p>
      
      <p>
        <strong>A:</strong>
        <%= @fare.to %>
      </p>
      
      <p>
        <strong>Escala:</strong>
        <%= @fare.stopover %>
      </p>
      
      <%= link_to 'Edit', edit_fare_path(@fare) %> |
      <%= link_to 'Back', fares_path %>

    </div>   
  </div>    
</div>