<p id="notice"><%= notice %></p>

<p>
  <strong>First names:</strong>
  <%= @driver.first_names %>
</p>

<p>
  <strong>Last names:</strong>
  <%= @driver.last_names %>
</p>

<p>
  <strong>Address:</strong>
  <%= @driver.address %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @driver.phone_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @driver.email %>
</p>

<p>
  <strong>Hire date:</strong>
  <%= @driver.hire_date %>
</p>

<%= link_to 'Edit', edit_driver_path(@driver) %> |
<%= link_to 'Back', drivers_path %>
